[submodule "refs/claude-reviews-claude"]
	path = refs/claude-reviews-claude
	url = https://github.com/hooyao/claude-reviews-claude.git
[submodule "refs/claude-code-sourcemap"]
	path = refs/claude-code-sourcemap
	url = https://github.com/hooyao/claude-code-sourcemap.git
